header.masthead {
    background: linear-gradient( to bottom, rgba(41, 41, 41, 0.8) 0%, rgba(41, 41, 41, 0.8) 100%), url("../assets/img2/portada.jpg");
}

.series {
    background: #DE340A;
    padding: 50px;
}